body {
    margin: 0;
}

/*
* padding: 5px 80px;
*/

/*Header Section*/
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: row wrap;
    background-color: #0A3EAD;
    padding: 5px 80px;
}

.Header h1 {
    white-space: nowrap;
    font-family: serif;
    font-weight: 600;
    font-size: 40px;
    color: #ECF1FE;

}

.header_links {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: row wrap;
}

a {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: dotted #ECF1FE 1px;
    background-color: #0A3EAD;
    text-decoration: none;

    font-family: 'Courier New';
    font-weight: 700;
    font-size: 18px;
}

.header_links :nth-child(1):hover {
    background-color:#ECF1FE;
    color: #639dbb;
}

.header_links a:nth-child(1) {
    color: #7fafc7;
}

.header_links :nth-child(2):hover {
    background-color:#ECF1FE;
    color: #4ed0c5;
}
.header_links a:nth-child(2) {
    color: #5ed4ca;
}

.header_links :nth-child(3):hover {
    background-color:#ECF1FE;
    color: #ed1d69;
}

.header_links a:nth-child(3) {
    color: #f47ba7;
}

/*Hero Section*/
.Hero {
    background-color: #0A3EAD;
}
.Hero img {
    width: auto;
}

/*About_Me Section*/
.About_Me {
    padding: 50px 120px;
    background-color: #C3CBD5;
    display: block;
}

.About_Me h1 {
    text-align: center;
}

.About_Me p {
    display: flex;
    justify-content: space-around;
}
